@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --sidebar-background-color: #1992d4;
  --button-background-color: var(--sidebar-background-color);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  grid-template-rows: 0.8fr 4.5fr;
}

.sidebar {
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 4fr;

  background-color: var(--sidebar-background-color);
  color: white;
  padding-left: 1vw;
}

.icons {
  display: grid;
  align-items: center;
}

.navigation-labels {
  display: grid;
  align-items: center;

  font-size: 0.6rem;
}

.sidebar .icons,
.sidebar .navigation-labels {
  display: grid;
  grid-template-rows: 0.4fr 0.8fr 0.8fr;
  height: 60vh;
}

.first-section {
  align-self: flex-start;
}

.second-section img,
.third-section img {
  width: 1.6vw;
  height: auto;
}

img.dashboard {
  margin-top: 1vh;
  width: 2.4vw;
  height: auto;
}

.navigation-labels .first-section {
  padding-top: 0.4vh;
}

.navigation-labels .second-section *,
.navigation-labels .third-section * {
  margin: 0;
  padding-top: 1.6vh;
  padding-bottom: 1.6vh;
}

.icons .second-section *,
.icons .third-section * {
  padding-top: 0.8vh;
  padding-bottom: 0.8vh;
}

.second-section,
.third-section {
  margin-top: 4vh;
}

.header {
  grid-template-rows: repeat(2, 0.2fr);
}

.user-info .notification,
.searchbar-container .icon {
  width: 3vh;
  height: auto;
}

.searchbar-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-items: center;
  column-gap: 1vw;
}

.top-left-section {
  display: grid;
  grid-template-columns: auto;
  justify-items: flex-start;
  align-items: center;
  margin-left: 3vw;
}

.searchbar {
  appearance: none;
  border: none;
  border-radius: 12px;
  background-color: #e2e8f0;
  height: 4vh;
  width: 44vw;
}

.user-info {
  display: flex;
  gap: 2vw;
  justify-content: center;

  margin-right: 1vw;
}

.user-info .profile-picture {
  width: 3vw;
  height: auto;
  place-self: center;
}

.user-info .name {
  font-weight: bold;
}

.welcome-message {
  display: grid;
  grid-template-columns: 8vw 16vw;
  grid-template-rows: repeat(2, 6vh);
}

.welcome-message .profile-picture {
  width: 5vw;
  height: auto;

  grid-row: 1 / 3;
  place-self: end;
}

.welcome-message {
  font-weight: bold;
}

.welcome-message .greeting,
.welcome-message .user-name {
  margin: 0 0 0 1vw;
}

.welcome-message .greeting {
  font-size: 0.8rem;

  align-self: end;
}

.welcome-message .user-name {
  font-size: 1.2rem;

  align-self: center;
}

.bottom-right-section {
  display: flex;
}

.buttons {
  align-self: center;
  display: flex;
  column-gap: 1vw;

  margin-left: 1vw;
  margin-top: 1vh;
}

.buttons button {
  background-color: var(--button-background-color);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.5rem;
  width: 6vw;
  font-weight: bold;
}

.header,
.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.main-content {
  grid-template-rows: repeat(2, 1fr);
}

.projects {
  grid-row: 1 / 3;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.card {
  height: 250px;
}

.trending {
  grid-column: 2 / 3;
}
